<div class="page", id="user_creation">
    <div class="_page-header">
        <div>
            <h4>{{i18n.csv_app.creation.header}}</h4>
            <span>{{i18n.csv_app.creation.headerSub}}</span>
        </div>
    </div>

    <div class="table-header">
        <div class="cell user-info">
            <span>{{i18n.csv_app.labels.users}}</span>
        </div>

        <div class="cell user-devices">
            <span>{{i18n.csv_app.labels.devices}}</span>
        </div>

        <div class="cell user-settings">
            <span>{{i18n.csv_app.labels.createStatus}}</span>
        </div>
    </div>

    <div class="table-body"></div>

    <div class="actions">
        <span>{{i18n.csv_app.creation.actionNote}} </span>
        <button id="add_deature_keys" class="monster-button-success">{{i18n.csv_app.creation.button}}</button>
    </div>
</div>